<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 8 Soal 2</title>
</head>
<body>
    <div id="app">
        <button onclick = "vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{'Rata rata : ' + r}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a:0,
                r:0
            },
            methods: {
                openForm : function(){
                    this.a = prompt("Masukkan nilai a")
                    var jumlah = Number(this.a)+Number(this.a);
                    return this.a = jumlah
                    var rata2 = Number(this.a)/Number(this.a().length);
                    return this.r = rata2
                }
            }
        })
    </script>
</body>
</html>

//baru bisa menjumlahkan nilai a itu sendiri 