body {
    background-color: #0f026c;
    font-family: montserrat;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;

}


.box-wrap {
    width: 400px;
    height: 410px;
}



.biodata {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;

}

h1 {
    padding: 15px;
    font-size: 28px;
    text-align: center;
    line-height: 70%;
}

h2 {
    margin-top: -20px;
    text-align: center;
}

.biodata img {
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.isi {
    padding: 15px;
    font-size: 5vw;
}

.isi p {
    font-size: 15px;
    line-height: 0%;
    padding-left: 10px;
    padding-top: 10px;
    text-align: justify;
    font-weight: bold;
}

.sosmed {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sosmed img {

    padding: 5px;
    width: 50px;
    border-radius: 50%;

}