<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12 Ajax Axios</title>
    <style>
        img{
            width: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- pesan error -->
        <div v-if="errors.length > 0">
            <h5>Error :</h5>
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </div>
        <form v-on:submit.prevent="submitForm()">
            <table>
                <tr>
                    <td>Nama:</td>
                    <td><input type="text" v-model = "form.name"></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" v-model = "form.address"></td>
                </tr>
                <tr>
                    <td>Nomor HP:</td>
                    <td><input type="text" v-model = "form.no_hp"></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        <table border="1">
            <thead>
                <tr>
                    <td>Foto</td>
                    <td>Nama</td>
                    <td>Alamat</td>
                    <td>No Hp</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(member, index) in members" :key="index">
                    <td>
                        <img v-if="member.photo_profile != null" :src="url+member.photo_profile" alt="" srcset="">
                        <img v-else src="https://mm.widyatama.ac.id/wp-content/uploads/2020/08/dummy-profile-pic-male1.jpg" alt="">
                    </td>
                    <td>{{member.name}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.no_hp}}</td>
                    <td><button @click="uploadPhoto(member)">Upload photo</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let vm = new Vue({
            el : '#app',
            data:{
                url:'http://demo-api-vue.sanbercloud.com',
                form:{
                    id:'',
                    name: '',
                    address: '',
                    no_hp:''
                },
                members:[],
                errors:[],
            },
            created(){
                this.getMembers()
            },
            methods:{
                clearForm: function(){
                    this.form.name = ''
                    this.form.address = ''
                    this.form.no_hp = ''
                },
                validationForm: function(){
                    if (this.form.name.length < 5){
                        this.errors.push('Nama harus lebih dari 5 karakter')
                    }
                    if (this.form.address.length < 5){
                        this.errors.push('Alamat harus lebih dari 5 karakter')
                    }
                    if (this.form.no_hp.length < 5){
                        this.errors.push('Nomor Hp harus lebih dari 5 karakter')
                    }
                },
                submitForm: function(){
                    
                    this.validationForm()

                    if (this.errors.length == 0){

                        let formData = new FormData()
                    formData.append('name',this.form.name)
                    formData.append('address',this.form.address)
                    formData.append('no_hp',this.form.no_hp)

                    const config = {
                        
                        method: 'post',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                        data: formData,

                    }

                    axios(config)
                    .then(response => {
                        this.clearForm()
                        alert(response.data.message)
                        this.getMembers()
                    })
                    .catch(response => {
                        console.log(error)
                    })
                    }
                
                },
                getMembers: function(){
                    const config ={
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                    }
                    axios(config)
                    .then(response => {
                        this.members = response.data.members
                    })
                    .catch(response => {
                        console.log(error)
                    })
                },
                uploadPhoto : function(member){
                    this.form.id = member.id
                    this.form.name = member.name
                    this.form.address = member.address
                    this.form.no_hp = member.no_hp
                }
            },
        })
    </script>
</body>
</html>