<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz-2</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="task">
        <button type="text" @click="submitTask">add</button>
        
        <ul>
            <li v-for="(us,index) in users" :key="index">
                {{ us.name }}  <button type="text" @click="editTask(index)">edit</button> || <button type="text" @click="deleteTask(index)">delete</button>       
                </li>
            </ul>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
        el: "#app",

data() {
    return {
    task:'',
    editedTask:null,
    users: [{ name: 'Muhammad Iqbal Mubarok' }, 
            { name: 'Ruby Purwanti' },
            {name: 'Faqih Muhammad'}]
  }
},
methods: {
  submitTask(){
    if(this.task.length === 0 ) return;

    if(this.editedTask === null){
    this.users.push({
      name: this.task
    });
  }else{
    this.users[this.editedTask].name = this.task;
    this.editedTask = null;
  }
  this.task = '';
  },
  
  deleteTask(index){
    
    
      this.users.splice(index, 1);
    
    
  },
  editTask(index){
    this.task = this.users[index].name;
    this.editedTask = index;
  }

  
}

        })
    </script>
</body>
</html>