<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 9 Soal 1</title>
</head>
<body>

  <div id="app">
    <input type="text" v-model="cari" placeholder="ketikkan kata kunci">
    <ul >
      <li v-for="bk in caribuku"> {{bk}} </li>
    </ul>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: "#app",
      
      data: {
        cari: '',
                  buku:  ['Kalkulus Dasar',
                          'Fisika Dasar',
                          'Aljabar Linier Elementer',
                          'Aljabar Abstrak',
                          'Algoritma Pemrograman'
                        ]
    },
    computed: {
     caribuku: function(){
       return this.buku.filter((bk)=>{
        return bk.toLowerCase().match(this.cari)
       }
       );
     }
    }      
  });
  </script>
</body>
</html>